/* style.css  */

* {
  box-sizing: border-box;
}

html{
  background: #333;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

h2{
  color:#333;
}

header{
  background: palevioletred;
  padding: 2em;
  height: 35vh;
  font-size: 20px;
  text-align: center;
}

footer{
  background: pink;
  color: black;
  height: 5vh;
  padding: 2em;
  text-align: center;
}

#results{
  overflow-y: auto;
  overscroll-behavior-y: 
}

main{
  height: 180vh;
  padding: 3em;
  color: purple;
}

button{
  background: purple;
  color: white;
  padding: 1em;
  line-height: 2em;
  border: 1px solid white;
}

.column {
  background-color:rgb(218, 186, 210);
  float: left;
  width: 33%;
  margin: 1px;
  padding: 10px;
  height: 80vh;; 
}

.row:after {
  height:80vh;
  display: flexbox;
  clear: both;
}